/*RESET*/
*{margin:0;padding:0}
*{scroll-behavior: smooth}

* {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

/*------------------------------ FONTS ----------------------------*/

/*------------------------------------------------------------------*/

body{margin: 0px;font-family: 'Cousine', monospace; background-color: #f4f4f4;}


/*------------------------ HEADER NAV -----------------------*/

/*------------- NAV-BAR RESPONSIVE HAMBBURGER MENU ------------*/

a {
    color: #000;
  }

a.logo img{
    width: 200px;
}
  
  /* header */
  
  .header {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  

  
  .header ul {
    margin: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    /*background-color: #f4f4f4;*/
    color: rgb(175, 129, 29);
  }
  
  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

/*--------------------------- END NAVBAR RESPONSIVE ----------------------- */

/*-----------------------------BANNER LENINA ---------------------------------*/
div.banner-lenina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #660000;
    padding-top: 40px;
}

div.banner-lenina img{
    width: 60%;
    padding-top: 0px;
    image-rendering: smooth;
}

/*----------------------------- WRAPPER ARTICLES -------------------------------*/


div.wrapper-articles{
  
}
div.wrapper-title{
    margin-top: 70px
}


div.wrapper-title h2{
    font-family: 'Cousine', monospace;
    font-size: 16px;
    letter-spacing: 4px;
    text-align: center;
    background-color: grey;
    margin: 0px 50px 30px 50px;
    padding: 10px;
    border-radius: 5px;
}


div.tshirts-articles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

div.cd-articles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


div.bg-grey{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(151, 151, 151, 0.137);
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
}

div.bg-grey img{
    width: 325px;
    image-rendering: smooth;
}


div.bg-grey p{
    padding: 5px;

}

div.text-articles{
    width: 240px;
    text-align: center;
    background-color: rgba(236, 236, 236, 0.774);
    border-radius: 5px; 
}

/*------------------------------------- ADMIN --------------------------------------*/

div.title-admin{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

div.title-admin img{
  margin:100px;
}

div.row{
  background: #7776766b;
  padding: 5px;
  border-radius: 5px;
}

.admin{
  
}

h2.add{
  text-align: center;
}

.help-inline{
  color: #660000;
}