/*---------------------NAVBAR-------------------------*/
/* 48em = 768px */

@media (min-width: 52em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
/*---------------------------------------------------*/